<template name="AddPostModal">
  <div class="modal fade" id="add-post-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <section class="post clickable">
          <footer class="title">
            <a href="#" data-category="links" class="category glyphicon glyphicon-link"></a>
            <a href="#" data-category="news" class="category glyphicon glyphicon-bullhorn"></a>
            <a href="#" data-category="videos" class="category glyphicon glyphicon-play"></a>
            <a href="#" data-category="presentations" class="category glyphicon glyphicon-blackboard"></a>
            <a href="#" data-category="questions" class="category glyphicon glyphicon-question-sign"></a>
            {{#with form}}
              <form name="add-post">
                {{#if title}}
                  <div class="form-group">
                    <input type="text" name="title" placeholder="Title{{#if title.required}} (required){{/if}}" class="form-control" required={{title.required}}>
                  </div>
                {{/if}}
                {{#if url}}
                  <div class="form-group">
                    <input type="text" name="url" class="form-control" placeholder="URL{{#if url.required}} (required){{/if}}" required="{{url.required}}">
                  </div>
                {{/if}}
                {{#if thumbnail}}
                  <div class="form-group">
                    <!-- <input type="file" name="thumbnail" class="form-control" required="{{thumbnail.required}}"> -->
                    <input type="text" name="image[src]" class="form-control" placeholder="Image url{{#if thumbnail.required}} (required){{/if}}" required="{{url.required}}">
                  </div>
                {{/if}}
                {{#if iframe}}
                  <div class="form-group">
                    <textarea name="iframe" placeholder="Embed Code{{#if iframe.required}} (required){{/if}}" class="form-control" required="{{iframe.required}}"></textarea>
                  </div>
                {{/if}}
                {{#if content}}
                  <div class="form-group">
                    <textarea name="content" placeholder="Main text content{{#if content.required}} (required){{/if}}" class="form-control" required="{{content.required}}"></textarea>
                  </div>
                {{/if}}
                <button type="submit" class="btn btn-default">Submit post</button>
              </form>
            {{/with}}
          </footer>
        </section>
      </div>
    </div>
  </div>
</template>