<template name="Posts">

  <div class="simple-gallery container" style="min-height: 10%">
    {{> Navigation}}

    {{#each posts}}
      {{> Post}}
    {{/each}}

    {{#with reactivePost}}
      {{#modal}}
        {{> Post}}
      {{/modal}}
    {{/with}}
    <!-- <h1><a href="http://facebook.com/michael.rokosh.1">Michael Rokosh</a></h1> -->
  </div>

  {{#if showButton}}
    <div class="container load-more-container">
      <button class='btn btn-default load-more-btn'>Load more</button>
    </div>
  {{/if}}

</template>