<template name="Navigation">
  <div class="menu">
    <h1><a href="{{pathFor route='home'}}" alt="Home">TernopilJS</a>TernopilJS</h1>
    <a href="{{pathFor route='categoryPage' name='links'}}" class="category glyphicon glyphicon-link"></a>
    <a href="{{pathFor route='categoryPage' name='news'}}" class="category glyphicon glyphicon-bullhorn"></a>
    <a href="{{pathFor route='categoryPage' name='videos'}}" class="category glyphicon glyphicon-play"></a>
    <a href="{{pathFor route='categoryPage' name='presentations'}}" class="category glyphicon glyphicon-blackboard"></a>
    <a href="#" class="category glyphicon glyphicon-question-sign"></a>
    <a href="#" class="category glyphicon glyphicon-user"></a>
  </div>
</template>