.simple-gallery {
  padding-top: 15px;
  letter-spacing: 1px;
  -webkit-columns: 7 250px;
  -webkit-columns: 250px;
  -moz-columns: 7 250px;
  columns: 7 250px;
  -webkit-column-gap: 0.3em;
  -moz-column-gap: 0.3em;
  column-gap: 0.3em;
  min-height: 10%
}

main a:hover {
  color: #909090;
}

main a,
main a:hover, 
main a:active, 
main a:focus {
  outline: 0 none;
  text-decoration: none;
}

main .menu {
  display: table;
  text-align: center;
  width: 100%;
  padding: 0 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

main .menu > h1 {
  position: relative;
  color: #2F2F2F;
  cursor: pointer;
  margin-bottom: 0;
  padding: 18px;
  background: #FCFCFC;
  border: 1px solid #E7E7E7;
}

main .menu > h1 > a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: transparent;
}

main .post.clickable:hover footer,
main .menu > h1:hover {
  border-color: #D4D4D4;
}

main .post .image-container img {
  width: 100%;
}

main h1,
main h2,
main h3,
main h4 {
  background-color: #fff;
  color: #2F2F2F;
  font-family: inherit;
  font-weight: 100;
  text-align: center;
}

main h1 > a,
main h2 > a,
main h3 > a,
main h4 > a {
  color: #2F2F2F;
}

main h1 {
  padding: 18px;
}

main h2,
main h3,
main h4 {
  padding: 6px;
}

main .post,
main h1,
main h2,
main h3,
main h4 {
  display: table;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0 5px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

main .post.clickable {
  cursor: pointer;
}

main .post .image-container {
  position: relative;
}

main .post footer {
  background: #FCFCFC;
  color: #2F2F2F;
  padding: 12px;
  text-align: center;
  font-family: inherit;
  font-weight: 200;
  font-size: 20px;
  border: 1px solid #E7E7E7;
}

main .post.clickable:hover .image-container::before,
main .modal .post.clickable:hover .image-container::before {
  font-family: 'Glyphicons Halflings';
  position: absolute;
  font-size: 70px;
  color: rgba(255, 255, 255, 0.5);
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -50px;
}

main .post.clickable:hover .image-container::before {
  content: "\e015";
}

main .modal .post.clickable:hover .image-container::before {
  content: "\e016";
}

main .post.clickable.hyperlink:hover .image-container::before {
  content: "\e144";
}

/*main .modal .post.clickable.hyperlink:hover .image-container::before {
  content:"\e144";
}*/

main .post.clickable.presentation:hover .image-container::before {
  content: "\e140";
}

main .post.clickable.video:hover .image-container::before {
  content: "\e072";
}

/*main .modal .post.clickablevideo:hover .image-container::before {
  content:"\e016";
}*/

main .modal .modal-dialog .modal-content {
  text-align: center;
  background: #FCFCFC;
  padding: 11px 6px;
  border-radius: 0;
}

@media (max-width: 768px) {
  main .modal .modal-dialog {
    margin: 0 auto;
  }
}

main .modal .post {
  margin: 0;
}

main .modal .post.clickable:hover footer {
  border-color: #D4D4D4;
}

.modal .comments {
  padding: 10px;
}

.load-more-container {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
}

main .post {
  position: relative;
}

.post .hyperlink {
  text-align: center;
  font-size: 0.6em;
  width: 200px;
  margin: 6px auto;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.post .hyperlink a {
  color: #3D46B5;
  text-decoration: underline;
}

.post .hyperlink a {
  color: #3D46B5;
  text-decoration: underline;
}

.post .hyperlink a:hover {
  color: #3D46B5;
  text-decoration: none;
}

.post footer .date {
  font-size: 0.5em;
  margin: 0;
}

.post footer .title {
  margin: 0 0 4px 0;
}

.post footer p.content {
  word-break: break-word;
  font-size: 0.7em;
  text-align: left;
  margin: 10px 0;
  padding: 0 10px;
}

.post footer i {
  font-size: 0.7em;
}

a.category, a.trigger {
  color: #2F2F2F;
  font-size: 1.15em;
  margin: 0 10px;
  line-height: 50px;
}

a.category.active {
  color: #909090;
}

form[name="add-post"] {
  margin-top: 14px;
}

/*.category-icon-container {
  position: absolute;
  left: 50%;
  top: -20px;
  margin-left: -20px;
  background: #000;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 9999999;
}

.category-icon-container i {
  color: #fff;
  line-height: 34px;
  width: 36px;
  text-align: center;
}*/